* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}



body{
  background: #333;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

section {
  margin-bottom: 75px;
}

section h2 {
  margin-bottom: 15px;
}

/*
*
* Header
*
*/

header {
  background: black;
  position: fixed;
  width: 100%;
  padding: 40px 0;
}

header nav ul li {
  display: inline-block;
}

.top-menu {
    text-align: center;
}

.top-menu a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  text-transform: uppercase;
  font-weight: bold;
}

/*
*
* Main section of website
*
*/

img.antelope-top {
  max-width: 900px;
  border: 1px solid black;
}

main {
  padding-top: 102px;
  height: 100%;
}

main .container {
  background: white;
  padding: 20px 30px;
}

/*
*
* Gallery Section
*
*/

.individual-gallery-image {
  max-width: 300px;
  max-height: 200px;
  object-fit: cover;
}

/*
*
* Flip Card Section
*
*/

.flip-card {
  max-width: 300px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: text-top;
  position: relative;
  width: 50%;
}

.flip-card img {
  max-width: 300px;
  display: block;
  width: 100%;
  height: auto;
}

.flip-card a {
  color: white;
}

.overlay-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #333;
  max-height: 200px;
}

.flip-card:hover .overlay-text {
  opacity: .8;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 37%;
  -webkit-transform: translate(-30%, -50%);
  -ms-transform: translate(-30%, -50%);
  transform: translate(-30%, -50%);
}
